header {
  padding: 2px 0;
}

.cabecalho {
  position: relative;
  width: 940px;
  margin: 0 auto;
} 

.logo img {
  width: 400px;
  padding: 10em;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #5c5c5c;
  text-decoration: underline;
}